@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{ font-family: Quicksand }

textarea.form-control {
    resize: none;
}

header {
    height: 200px;
    background: url("header.jpg") no-repeat center;
    border-bottom: 2px solid #eee;
    background-size: contain;
}
