@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{ font-family: Quicksand }

textarea.form-control {
    resize: none;
}

header {
    height: 200px;
    background: url('white.png') no-repeat center, url('header.jpg') center no-repeat;
    border-bottom: 5px solid #bbb;
    background-size: contain, cover;
}
