@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{ font-family: Quicksand; overflow-x:hidden }

textarea.form-control {
    resize: none;
}

header {
    height: 200px;
    background: url('white.png') no-repeat center, url('header.jpg') center no-repeat;
    border-bottom: 5px solid #bbb;
    background-size: contain, cover;
}

.pointer{ cursor:pointer }

.footer-copyright{
    background:#70bdff
}

#collapse{
    background: var(--light);
    text-align:center;
    max-height:400px;
    overflow:auto;
    box-shadow:0 0 5px 2px rgba(0,0,0,0.2);
    left:50px
}

a.history-link{
    color:var(--info) !important;
}

a.history-link:hover{
    text-decoration: underline;
}

i{
    color:var(--info);
    cursor:pointer;
}
